/*
/estilo para la web
*/
body,html{
	background:#f3f3f3;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
a{
	text-decoration: none;
}
#header{
	background-image: url('../imagenes/fondo.png');
	margin:0;
	height: 450px;
}
#header h1{
	color:#123456;
	display: inline-block;
	margin-left: 50px;
}

/*Estilos para la navegacion y el formulario buscar*/
#nav{
	background-color:rgba(49,52,55,.4);
}
#nav form,.buscar{
	display: inline-block;
	float: right;
	margin: 5px 20px 0 0;
}
#nav input.titulo{
	background-color: #fff;
	border:4px solid #fff;
	color: #585858;
	font-weight: bold;
	font-size: 18px;
	height: 20px;
	width: 200px;
	text-align: center;
}
#nav input:focus{
	border:4px solid #9cd7b4;
}

#nav ul{
	display: inline-block;
	height: 40px;
	list-style: none;
	margin: 0 20px 0 0;
}	
#nav li{
	display: inline-block;
	margin: 0;
	padding: 0;
}
#nav a{
	color: white;
	display: block;
	font-weight: bold;
	font-size: 20px;
	height: 20px;
	padding: 10px 20px;
}
#nav a:hover{
	background-color: rgba(49,52,55,.6);
}
/*fin de los estilos para la navegacion y el formulario buscar*/

#article{
	margin: 0 auto;
	width: 50%;
	padding: 40px 0;
}
.section p{
	color: rgba(49,52,55,.8);
	text-align: justify;
}
.section a{
	color: #3b7bbd;
}
#footer{
	background-image: url('../imagenes/fondo.png');
	margin: 0;
	padding: 0;
}
#footer .caja{
	background-color: rgba(49,52,55,.4);
	margin: 10px 0 0 0;
	padding: 10px 150px;
}
#footer h3{
	color: #fff;
	font-size: 25px;
	margin: 0 0 3px 0;
}
#footer a{
	color:#fff;
	margin: 0;
	padding: 0;
}
#footer .clientes{
	display: inline-block;
	margin: 0;
	padding: 15px;
}